# the file itself
.gcloudignore

# git stuff
.git
.gitignore

# node dependencies
node_modules/

# cloud build file
cloudbuild.json

# WebStorm config
.idea/

# unnecessary source files
src/
webpack.config.js
