<!DOCTYPE html>
<html>
<head>
    <title>numbers!</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-auto">
                <span class="display-4">numbers</span>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <span class="lead">your number is <%= number_1 %></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
